<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n"/>
		</Console>
		
		<RollingFile name="rollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout pattern="%m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
        
		<RollingFile name="dateFile" fileName="logs/ofbiz2.log" filePattern="logs/ofbiz2-%d{yyyy-MM-dd-HH-mm}.log">  
			<PatternLayout pattern="%m%n"/>  
			<Policies>  
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />  
			</Policies>  
			<DefaultRolloverStrategy max="20"/>
    	</RollingFile> 
	</Appenders>
	
	<Loggers>
		<Root level="all">
			<!-- <AppenderRef ref="stdout"/> -->
			<AppenderRef ref="rollingFile"/>
			<!-- <AppenderRef ref="dateFile"/> -->
		</Root>
	</Loggers>
</Configuration>